/* VARIABLES */

:root {
	--background-primary: 33, 33, 33;
	--color-primary: 244, 154, 36;
	--side-margin: 8rem;
	--scrollbar-color: 30, 30, 30;
}



/* RESET */

*,
*:hover,
*:active,
*:focus,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

a {
	text-decoration: none;
}



/* STYLES */

body {
	position: relative;
	background: linear-gradient(45deg, #b75fff, #ff5f8e, #ffe75f, #5fff9f);
	background-size: 400% 400%;
	animation: backgroundAnimation 10s infinite;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	z-index: -2;
}

@keyframes backgroundAnimation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
}

.background video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header {
	position: sticky;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(var(--background-primary));
	z-index: 10;
	border-bottom: .1em solid rgb(var(--color-primary));
}

.header_inner {
	padding: .5rem;
	margin: 0 var(--side-margin);
}

.header_logo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	gap: 1rem;
}

.header_logo .icon {
	height: 3rem;
}

.header_logo .text {
	color: rgb(255, 255, 255);
	font-size: 2em;
	transition: color .3s ease;
}

.header_logo:hover .text {
	color: rgb(var(--color-primary));
}

.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 1rem 0;
}

.container_inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 var(--side-margin);
	gap: 2rem;
}

.footer {
	display: flex;
	flex-shrink: 0;
	bottom: 0;
	left: 0;
	background-color: rgb(var(--background-primary));
	border-top: .1rem solid rgb(var(--color-primary));
}

.footer_inner {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 1rem;
	font-size: 1.2em;
	margin: 0 var(--side-margin);
}

.footer_inner a {
	color: rgb(var(--color-primary));
	transition: color .3s ease;
}

.footer_inner a:hover {
	color: rgba(var(--color-primary), .75);
}

.instruction {
	display: flex;
	flex-direction: column;
	line-height: 1.8;
	background-color: rgba(var(--background-primary), 0.9);
	padding: 1rem;
	border-radius: .5rem;
	width: 60rem;
	font-size: 1.2em;
}

.instruction code {
	color: rgb(var(--color-primary));
	background: rgb(var(--background-primary));
	padding: .25rem;
	border-radius: .2rem;
}

.instruction ol {
	margin-left: 2rem;
	font-size: .9em;
	color: rgb(200, 200, 200);
}

.console {
	position: relative;
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	background-color: rgba(var(--background-primary), 0.9);
	border-radius: .5rem;
	font-family: 'Courier New', monospace;
	height: 30rem;
	width: 60rem;
	overflow: auto;
}

.console .header {
	all: unset;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	padding: .5rem 0;
	z-index: 1;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5rem;
	border-bottom: .05rem solid rgb(var(--color-primary));
	background-color: rgba(var(--background-primary), 1);
}

.console .content {
	margin-top: 1rem;
	padding-right: 2rem;
	padding: .5rem;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.console {
	scrollbar-width: thin;
	scrollbar-color: rgb(var(--scrollbar-color)) #d1d1d1;
}

/* Chrome, Edge, and Safari */
.console::-webkit-scrollbar {
	width: 12px;
}

.console::-webkit-scrollbar-track {
	background: #d1d1d1;
}

.console::-webkit-scrollbar-thumb {
	background-color: rgb(var(--scrollbar-color));
	border-radius: 4px;
	border: 0px none #ffffff;
}




/* Styles for hiding on small screens */
@media (max-width: 1000px) {
	:root {
		--side-margin: 4rem;
	}

	.console {
		border-radius: .25rem;
		height: 17.5rem;
		width: 90vw;
	}

	.console .header {
		padding: .25rem 0;
	}

	.console .content {
		margin-top: .5rem;
		padding-right: 1rem;
		padding: .25rem;
	}

	.instruction {
		display: none;
	}

	.footer_inner {
		font-size: 1em;
	}

	.footer_inner span.info {
		display: none;
	}
}

/* Mobiles */
@media (max-width: 600px) {
	.footer_inner {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: .5rem;
		font-size: .9em;
	}

	.header_logo .text {
		font-size: 1em;
	}
}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	html {
		font-size: .9em;
	}
}

@media only screen and (min-height: 481px) and (max-height: 768px) and (orientation: landscape) {
	html {
		font-size: .95em;
	}
}

/* Mobile */
@media only screen and (max-width: 480px) {
	html {
		font-size: .75em;
	}
}

@media only screen and (max-height: 480px) and (orientation: landscape) {
	html {
		font-size: .85em;
	}
}