:root {
	/* Background color for the popup container | Default: 0, 0, 0, .4 */
	--diaphantium-background: rgba(0, 0, 0, .4);
	/* Blur effect for the popup container | Default: .5em */
	--diaphantium-blur: .5em;
	/* Accent color for interactive elements | Default: 97, 181, 255 */
	--diaphantium-accent: var(--severitium-main-color, rgb(97, 181, 255));
	/* Color for active or enabled state | Default: 81, 221, 97 */
	--diaphantium-active: rgb(81, 221, 97);
	/* Color for inactive or disabled state | Default: 221, 81, 81 */
	--diaphantium-inactive: rgb(221, 81, 81);
	/* Primary background color for certain elements | Default: 50, 50, 50 */
	--diaphantium-background-primary: rgb(50, 50, 50);
	/* Transition duration and timing function | Default: .3s ease */
	--diaphantium-transition: .3s ease;
}