.popup_container.diaphantium[author="OrakomoRi"],
.popup_container.diaphantium[author="OrakomoRi"] * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	text-decoration: none;
	list-style: none;
	vertical-align: baseline;
	font-size: 16px;
}

.popup_container.diaphantium[author="OrakomoRi"] button {
	outline: none;
	border: none;
	background: none;
	overflow: visible;
	font: inherit;
	line-height: normal;
	-webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
	appearance: none;
	border-radius: 0;
}

.popup_container.diaphantium[author="OrakomoRi"] button::-moz-focus-inner {
	border: 0;
    padding: 0;
}
